li.ms-option {
  display: flex;
  align-items: center;
  width: 100%;
}

li.ms-option:hover {
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.option-image {
  margin-top: 5px;
}

.option-property {
  height: 75px;
}

.option-name {
  color: var(--text-strong);
  display: inline-block;
  font-size: 0.9em;
  line-height: 1em;
  white-space: nowrap;
  margin-left: 5px;
  margin-bottom: 5px;
}

.property-option-name {
  color: var(--text-strong);
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 5px;
  margin-bottom: 5px;
}

.suo {
  margin-bottom: 3px;
}

.agency-ia,
.property-ia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.agency-ia {
  width: 60px;
  height: 34px;
}

.property-ia {
  width: 160px;
  height: 100px;
}

.property-ia img,
.agency-ia img {
  max-width: 100%;
  max-height: 100%;
}
