/* Update User */
div.update-user {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  transform: translate3d(0, 0, 0);
  margin: 45px 0;
}


div.update-user .user-form-wrapper {
  margin: 32px 0;
}

div.update-user .user-form-title {
  text-align: center;
  text-transform: capitalize;
  color: var(--text-strong);
}

div.update-user .user-form {
  border-radius: var(--radius-xl);
  background: var(--surface-glass);
  border: 1px solid var(--surface-border);
  box-shadow: var(--shadow-ambient);
  backdrop-filter: blur(24px);
}

div.update-user .resend-activation-link {
  cursor: pointer;
  margin: 20px 0 10px;
}

/* Device width is less than or equal to 960px */

@media only screen and (width <=960px) {
  div.update-user .user-form {
    width: 360px;
    padding: 30px;
  }
}

/* Device width is greater than or equal to 960px */

@media only screen and (width >=960px) {
  div.update-user .user-form {
    width: 600px;
    padding: 30px;
  }
}
