div.us-list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

div.us-list a.cell-agency {
  display: flex;
  align-items: center;
}

div.us-list span.bs {
  padding: 3px;
  width: 80px;
  text-align: center;
  color: #fff;
  display: inline-flex;
  height: 26px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

div.us-list span.us-admin {
  background: #111111;
}

div.us-list span.us-agency {
  background: #ff8a00;
}

div.us-list span.us-user {
  background: #1fb6a5;
}

div.us-list span.bp {
  font-weight: 600;
}

div.us-list a.us-user {
  display: inline-flex;
}

div.us-list span.us-avatar {
  margin-right: 5px;
  width: 60px;
  height: 30px;
}

div.us-list span.us-avatar img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  vertical-align: middle;
}

div.us-list .us-blacklisted,
div.us-list .us-blacklisted:hover {
  background: #f0f0f0;
}

div.us-list .us-actions {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

div.us-list .us-action-btn {
  text-transform: none;
  font-size: 12px;
  padding: 2px 6px;
  min-width: 0;
}
