div.agency-badge {
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: rgb(0 0 0 / 60%);
  font-size: 1em;
  line-height: 1em;
  max-width: 300px;
}

div.agency-badge span.agency-badge-logo {
  border: 1px solid #e6e6e6;
  border-radius: 999px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  margin-right: 5px;
}

div.agency-badge span.agency-badge-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.agency-badge span.agency-badge-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 133px;
}
