.onboarding {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  justify-content: center;
  margin: 120px 0 140px 0;
  transform: translate3d(0, 0, 0);
  min-height: 100vh;
}

.onboarding-form {
  height: fit-content;
  width: 550px;
  padding: 30px;
}

.onboarding-title {
  text-align: center;
  text-transform: capitalize;
  color: #232323;
}

.onboarding-subtitle {
  text-align: center;
  color: #666;
  margin-bottom: 10px;
}
