div.rental-term-filter div.filter-elements {
  padding: 6px 4px;
}

div.rental-term-filter div.filter-elements div.filter-element input[type='checkbox'].rental-term-checkbox {
  cursor: pointer;
  margin-left: 5px;
}

div.rental-term-filter div.filter-elements div.filter-element span {
  margin-left: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
}

div.rental-term-filter div.filter-actions {
  text-align: center;
  padding-bottom: 10px;
}

div.rental-term-filter div.filter-actions span.uncheckall {
  text-decoration: underline;
  cursor: pointer;
  color: var(--accent);
}
